@model AppWeb.Models.ClienteUsuario.ClientePJViewModel

@{
    ViewBag.Title = "Solicitar Alteração dos Dados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    <div class="card">
        <div class="card-header">
            <h2 class="h2 card-title">@ViewBag.Title</h2>
        </div>

        <div class="card-body">
            @Html.HiddenFor(model => model.ClienteId)
            <div class="form-group">
                <div class="form-group form-inline">
                    @Html.LabelFor(model => model.Nome, new { @class = "form-control col-md-2 col-sm-12 bg-secondary text-white" })
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control col-md-10 col-sm-12" } })
                </div>
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="form-group form-inline">
                    @Html.LabelFor(model => model.CNPJ, new { @class = "form-control col-md-2 col-sm-12 bg-secondary text-white" })
                    @Html.EditorFor(model => model.CNPJ, new { htmlAttributes = new { @class = "form-control col-md-10 col-sm-12", data_mask = "99.999.999/9999-99" } })
                </div>
                @Html.ValidationMessageFor(model => model.CNPJ, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="form-group form-inline">
                    @Html.LabelFor(model => model.Telefone, new { @class = "form-control col-md-2 col-sm-12 bg-secondary text-white" })
                    @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control col-md-10 col-sm-12", data_mask = "(99)99999-9999" } })
                </div>
                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
            </div>

            <hr />

            <div class="form-group">
                <div class="form-group form-inline">
                    @Html.LabelFor(model => model.Endereco.Rua, new { @class = "form-control col-md-2 col-sm-12 bg-secondary text-white" })
                    @Html.EditorFor(model => model.Endereco.Rua, new { htmlAttributes = new { @class = "form-control col-md-10 col-sm-12" } })
                </div>
                @Html.ValidationMessageFor(model => model.Endereco.Rua, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="form-group form-inline">
                    @Html.LabelFor(model => model.Endereco.Numero, new { @class = "form-control col-md-2 col-sm-12 bg-secondary text-white" })
                    @Html.EditorFor(model => model.Endereco.Numero, new { htmlAttributes = new { @class = "form-control col-md-10 col-sm-12" } })
                </div>
                @Html.ValidationMessageFor(model => model.Endereco.Numero, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="form-group form-inline">
                    @Html.LabelFor(model => model.Endereco.Bairro, new { @class = "form-control col-md-2 col-sm-12 bg-secondary text-white" })
                    @Html.EditorFor(model => model.Endereco.Bairro, new { htmlAttributes = new { @class = "form-control col-md-10 col-sm-12" } })
                </div>
                @Html.ValidationMessageFor(model => model.Endereco.Bairro, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="form-group form-inline">
                    @Html.LabelFor(model => model.Endereco.CEP, new { @class = "form-control col-md-2 col-sm-12 bg-secondary text-white" })
                    @Html.EditorFor(model => model.Endereco.CEP, new { htmlAttributes = new { @class = "form-control col-md-10 col-sm-12", data_mask = "99999-999" } })
                </div>
                @Html.ValidationMessageFor(model => model.Endereco.CEP, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="form-group form-inline">
                    @Html.LabelFor(model => model.Endereco.Cidade, new { @class = "form-control col-md-2 col-sm-12 bg-secondary text-white" })
                    @Html.EditorFor(model => model.Endereco.Cidade, new { htmlAttributes = new { @class = "form-control col-md-10 col-sm-12" } })
                </div>
                @Html.ValidationMessageFor(model => model.Endereco.Cidade, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="form-group form-inline">
                    @Html.LabelFor(model => model.Endereco.UF, new { @class = "form-control col-md-2 col-sm-12 bg-secondary text-white" })
                    @Html.EnumDropDownListFor(model => model.Endereco.UF, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.Endereco.UF, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-success col-md-3 col-sm-12" value="Enviar Solicitação" />
            @Html.ActionLink("Cancelar", "Details", null, new { @class = "col-md-3 col-sm-12 btn btn-warning" })
        </div>

    </div>
}

@section scripts
{
    @Scripts.Render("~/Scripts/JqueryMaskPlugin/jquery.mask.js")
}


