@using AppWeb.Models.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FleetManWeb</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="margin: 0;">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("FleetManWeb", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarNav" aria-controls="NavbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="NavbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">@Html.ActionLink("Veículos", "Index", "Veiculo", null, new { @class = "nav-link text-white" })</li>
                <li class="nav-item">@Html.ActionLink("Motoristas", "Index", "Motorista", null, new { @class = "nav-link text-white" })</li>
                <li class="nav-item">@Html.ActionLink("Aluguel", "Index", "Aluguel", null, new { @class = "nav-link text-white" })</li>
                <li class="nav-item">@Html.ActionLink("Viagens", "Index", "Viagem", null, new { @class = "nav-link text-white" })</li>
                <li class="nav-item">@Html.ActionLink("Solicitações", "Index", "Solicitacao", null, new { @class = "nav-link text-white" })</li>
                <li class="nav-item">@Html.ActionLink("Meu Perfil", "Details", "Cliente", null, new { @class = "nav-link text-white" })</li>
                <li class="nav-item">
                    @{
                        if (Html.GetAuthenticatedUser().ToString() != "")
                        {
                            @Html.ActionLink("Sair", "Logout", "Account", null, new { @class = "nav-link btn btn-danger" })
                        }
                        else
                        {
                            @Html.ActionLink("Realizar Login", "Login", "Account", null, new { @class = "nav-link btn btn-success" })
                        }
                    }
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
            @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FleetManWeb</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
