@using AppWeb.Models.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FleetManWeb</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("HeadStyles", required: false)
</head>
<body style="margin: 0;">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("FleetManWeb", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarNav" aria-controls="NavbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="NavbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="@Url.Action("Index", "Veiculo", null)" class="btn-pills btn-light text-dark nav-link"><i class="fas fa-car"></i> <div class="vr"></div> Veiculos</a></li>
                <li class="nav-item"><a href="@Url.Action("Index", "Motorista", null)" class="btn-pills btn-light text-dark nav-link"><i class="fas fa-users"></i> <div class="vr"></div> Motoristas</a></li>
                <li class="nav-item"><a href="@Url.Action("Index", "Aluguel", null)" class="btn-pills btn-light text-dark nav-link"><i class="center"><img class="mini-icon-size" src="~/Content/Icones/CarRent.png" /></i> <div class="vr"></div> Alugueis</a></li>
                <li class="nav-item"><a href="@Url.Action("Index", "Viagem", null)" class="btn-pills btn-light text-dark nav-link"><i class="fas fa-map-marker-alt"></i> <div class="vr"></div> Viagens</a></li>
                <li class="nav-item"><a href="@Url.Action("Index", "Solicitacao", null)" class="btn-pills btn-light text-dark nav-link"><i class="fas fa-file-alt"></i> <div class="vr"></div> Solicitações</a></li>
                <li class="nav-item"><a href="@Url.Action("Details", "Cliente", null)" class="btn-pills btn-light text-dark nav-link"><i class="fas fa-user-circle"></i> <div class="vr"></div> Meu Perfil</a></li>
            </ul>
            <ul class="navbar-nav justify-content-between">
                <li class="nav-item">
                    @{
                        if (Html.GetAuthenticatedUser().ToString() != "")
                        {
                            <a href="@Url.Action("Logout", "Account", null)" class="btn-pills btn-danger text-white nav-link"><i class="fas fa-sign-out-alt"></i> <div class="vr"></div>Deslogar</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Login", "Account", null)" class="btn-pills btn-success text-white-50 nav-link"><i class="fas fa-sign-in-alt"></i> <div class="vr"></div>Logar</a>
                        }
                    }
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FleetManWeb</p>
        </footer>
    </div>

    @Html.Partial("_WatsonPartialView")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
