@model IEnumerable<Modelo.Classes.Web.Veiculo>

@{
    ViewBag.Title = "Meus Veículos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">@ViewBag.Title</h2>
    </div>

    <div class="card-body">
        <table class="table table-responsive-sm table-hover">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Placa
                    </th>
                    <th>
                        Ano
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Modelo
                    </th>
                    <th>
                        Código Renavam
                    </th>
                    <th>
                        Cor
                    </th>
                    <th>
                        Adaptado
                    </th>
                    <th>
                        Alugado
                    </th>
                    <th></th>
                </tr>
            </thead>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Placa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ano)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodRenavam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adaptado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParaLocacao)
                        </td>
                        <td>
                            @Html.ActionLink("Detalhes", "Details", new { id = item.VeiculoId }, new{@class="btn btn-info"})
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

@section styles{
    <link href="~/Content/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Content/DataTables/DataTables-1.10.20/js/jquery.dataTables.js"></script>
    <script src="~/Content/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.js"></script>
    <script type="text/javascript">
        $(document).ready(function () { $('.table').DataTable(); });
    </script>
}
